/* grid 2 for section alex */

.row {
    display: flex;
}

.column { 
    flex: 50%;
}
 



/* stefano Section starts here */ 
/*  font-family's are not yet implemented im html-file */
:root {
    --bg-color-white: white;
    --color-grey: grey;
    --color-black: #413d4b;
    --border-color-grey: #8080805e;
    --font-family-text: 'playfair_displayregular';
    --font-family-headline: 'playfair_displaybold';
    --font-family-roboto: 'robotoblack';
}

#stefan {
    width: 100%;
}

#stefan .wrapper {
    background-color: var(--bg-color-white);
    padding: 60px 0 90px;
    overflow: hidden;
}

#stefan .expertise {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

#stefan .headline {
    margin: 0 0 3rem;
    margin: 10px 0 0 0;
    color: var(--color-grey);
}

#stefan .headline h3 {
    text-transform: uppercase;
    font-family: var(--font-family-headline);
    margin: 0;
    color: #413d4b;
    font-family: var(--font-family-text);
    font-weight: 600;
    font-size: x-large;
}

#stefan .hr {
    margin-bottom: 1em;
    height: 2px;
    width: 62px;
    margin: 16px auto;
    background: var(--border-color-grey);
}

#stefan .features {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 1px 0 0 1px;
}

#stefan .features .feature {
    flex-basis: 33%;
    padding: 30px 12px 12px 12px;
    border-right: 1px solid var(--border-color-grey);
    border-bottom: 1px solid var(--border-color-grey);
    box-sizing: border-box;
}

/* START NO OUTER BORDERS -- > only  inner! Borders   - I am aware this solution is far from ideal ;) */
#stefan>.wrapper:nth-child(1) .features>.feature:nth-child(3),
#stefan>.wrapper:nth-child(1) .features>.feature:nth-child(6) {
    border-right: none;
}
#stefan>.wrapper:nth-child(1) .features>.feature:nth-child(4),
#stefan>.wrapper:nth-child(1) .features>.feature:nth-child(5),
#stefan>.wrapper:nth-child(1) .features>.feature:nth-child(6) {
    border-bottom: none;
}
/* END  NO OUTER BORDERS -- > only  inner! Borders    - I am aware this solution is far from ideal ;) */
 

#stefan .features .feature img {
    margin-bottom: 25px;
}

#stefan .features .feature h4 {
    font-size: .91rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 12px;
    font-family: var(--font-family-roboto);
}

#stefan .features .feature p {
    color: var(--color-grey);
    line-height: 1.25;
    font-size: .9rem;
    margin: 0 8px;
}

#stefan .team {
    background-image: url('images/design-assets/bgk-middle.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#stefan .team .teammember {
    margin-right: 20px;
    border: .01em solid var(--color-grey);
}

#stefan .team .teammember img {}


#stefan .team .teammember .teammember-details {
    text-transform: uppercase;
}

#stefan .team .teammember .teammember-details h3 {
    line-height: 2rem;
    margin-bottom: -15px;
}

#stefan .team .teammember .teammember-details p {
    margin: 17px 0px 35px;
    font-size: .79rem;
}


#stefan .cta {
    margin-top: 6rem;
}

#stefan .cta .pleaseApply {
    margin-bottom: .3rem;
    font-size: 1.12rem;
}

#stefan .callToAction {
    padding: 4px 10px;
    margin: 14px 20px;
    text-transform: uppercase;
    display: inline-block;
    color: #1fd8cb;
    border: 1px solid #1fd8cb;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 3px;
    letter-spacing: 1px;
    line-height: 1.5;
    text-decoration: none;
    font-weight: 600;
}


#stefan .white {
    color: var(--bg-color-white) !important;
}

#stefan .hr.white {
    background: var(--bg-color-white);
}


@media only screen and (max-width: 588px) {
    #stefan .features,
    #stefan .team {
        flex-direction: column;
    }

    #stefan .features {
        margin-bottom: 4rem;
        max-width: 62vw;
    }
    #stefan .teammember {
        margin-bottom: 4rem;
        max-width: 80vw;
    }

    #stefan .features .feature {
        border: transparent !important;
    }
}


/* stefano Section ends here */  

/* section 1 */

html {
    font-size: 15px;
}

.banner {
    background-image: url(./images/design-assets/bgk-header.png);
    background-size: 100% auto;
    background-position: cover;
    height: 35rem;
    background-repeat: no-repeat;
}

.center-items {
    display: flex;
    justify-content: center;
}

nav {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    color: white;
    height: 2rem;
}

.logo-name {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.logo-name img {
    margin-right: 0.75rem;
}

.middle-text {
    width: 70%;
}

.items-menu {
    list-style: none;
}

.items-menu a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}
.items-menu a:hover {
    color: rgba(230, 230, 230, 0.3);
    trasition: 0.5;
}

.banner-text-box {
    height: 28rem;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    min-width: 600px;
}

.inner-banner-text-box {
    text-align: center;
    color: white;
}

.inner-banner-text-box h1 {
    font-size: 2rem;
}
.inner-banner-text-box p {
    line-height: 1.5rem;
}

.line {
    width: 200px;
    border-top: 2px solid #48DED0;
    margin: auto;
}

.button {
    text-decoration: none;
    border: 3px solid #48DED0;
    padding: 0.5rem 1.2rem;
    border-radius: 2px;
    color: #48DED0;
}

.button:hover {
    border: 3px solid #2D8D84;
    color: #2D8D84;
    transition: 0.5;
}

.section2 {
    width: 100%;
    height: 400px;
}

.our-story-div {
    display: flex;
    justify-content: center;
    padding: 4rem;
}

.text-box-our-story p {
    line-height: 1.5rem;
}

.text-box-our-story {
    width: 40%;
    padding-left: 3rem;
}

.middle-section {
    background-image: url(./images/design-assets/bgk-middle.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 28rem;
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button img {
    margin: auto;
    text-align: center;
    max-width: 100%;
    height: auto;
    display: block;
}

.play-button h4 {
    text-align: center;
}
.form,
.footerInfo {
    margin-left: 15%;
    margin-right: 15%;
}

.imgTestimonials {
    display: flex;
}

img {
    max-width: 100px;
    height: auto;
}

.footerInfo {
    display: flex;
}


/* fraction 1 1 1 */

.grid3 {
    flex: 30%;
    width: 100%;
}

.footerInfo {
    background-image: url("images\design-assets\bgk-footer.png");
    background-size: cover;
    width: 100%;
    height: 200px;
} 
